[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
playwright = "*"

[dev-packages]

[requires]
python_version = "3.7"
python_full_version = "3.7.3"
